@import "tailwindcss";

@theme {
    --dark: class;
}

html {
    background-color: var(--color-white);
    color: var(--color-black);
}

html.dark {
    background-color: var(--color-black);
    color: var(--color-white);
}

:root {
    --color-brand: #3b82f6;
    --color-brand-hover: #2563eb;
}

@layer base {
    *,
    ::after,
    ::before {
        border-color: var(--color-gray-200);
    }
}

.sidebar-transition {
    transition: width 0.3s ease, transform 0.3s ease;
}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
}
