image: mcr.microsoft.com/playwright:v1.51.0-noble

variables:
  NODE_VERSION: '22'
  VITE_IS_TEST: 'true'
  VITE_USE_FIREBASE_EMULATOR: 'true'

  # Server Ports
  TEST_API_PORT: '7081'
  TEST_FLUID_PORT: '7082'
  VITE_TINYLICIOUS_PORT: '7082'

  # Firebase Emulator
  VITE_FIREBASE_EMULATOR_UI_PORT: '54400'
  VITE_FIREBASE_AUTH_EMULATOR_PORT: '59099'
  VITE_FIREBASE_FIRESTORE_EMULATOR_PORT: '58080'
  VITE_FIRESTORE_EMULATOR_HOST: '0.0.0.0:58080'

  # Client Environment Variables
  VITE_USE_FIREBASE_AUTH: 'true'
  VITE_USE_API_AUTH: 'true'
  VITE_USE_TINYLICIOUS: 'true'
  VITE_FORCE_AZURE: 'false'
  VITE_PORT: '7080'
  VITE_HOST: 'localhost'
  VITE_API_BASE_URL: 'http://localhost:${TEST_API_PORT}'
  VITE_API_SERVER_URL: 'http://localhost:${TEST_API_PORT}'
  VITE_TINYLICIOUS_ENDPOINT: 'http://localhost:${TEST_FLUID_PORT}'
  VITE_FIRESTORE_EMULATOR_HOST: 'localhost'
  VITE_FIRESTORE_EMULATOR_PORT: '8080'

  # テスト用ダミー設定
  VITE_FIREBASE_API_KEY: 'demo-test-key'
  VITE_FIREBASE_PROJECT_ID: 'demo-test'
  VITE_FIREBASE_AUTH_DOMAIN: 'demo-test.firebaseapp.com'
  VITE_DEBUG_USER_ID: 'test-user'
  VITE_DEBUG_USER_NAME: 'Test User'
  VITE_FLUID_TOKEN_KEY: 'test-key'
  AZURE_TENANT_ID: 'test-tenant-id'
  AZURE_FLUID_RELAY_ENDPOINT: 'https://test-endpoint.fluidrelay.azure.com'
  AZURE_PRIMARY_KEY: 'test-primary-key'

  # Server Environment Variables
  PORT: '${TEST_API_PORT}'
  CORS_ORIGIN: 'http://localhost:7070,http://localhost:7080'
  NODE_ENV: 'test'
  SESSION_SECRET: 'test-session-secret'

stages:
  - test

e2e-tests:
  stage: test
  variables:
    VITE_TINYLICIOUS_PORT: '7082'
  before_script:
    - 'pwd'
    - 'apt-get update && DEBIAN_FRONTEND=noninteractive apt-get -y install --no-install-recommends default-jre'
    - 'echo "CI_PROJECT_DIR: ${CI_PROJECT_DIR}"'
    - 'mkdir -p ${CI_PROJECT_DIR}/logs/'
    - 'mkdir -p client/logs/'
    - 'mkdir -p client/e2e/logs/'
    - 'mkdir -p server/logs/'
    # Firebase CLIのインストール
    - 'npm install -g firebase-tools'
    # Tinyliciousのインストール
    - 'npm install -g tinylicious'
    - 'npm install -g dotenv-cli'
    - 'cd firebase'
    # Firebase Emulatorの起動
    - 'firebase emulators:start --project demo-test > ${CI_PROJECT_DIR}/logs/firebase-emulator.log 2>&1 &'
    # サーバーサイドの準備
    - 'cd ../server'
    - 'npm ci'
    # APIサーバーの起動
    - 'npm run dev -- --host 0.0.0.0 --port ${TEST_API_PORT} > ${CI_PROJECT_DIR}/logs/auth-service-tee.log 2>&1 &'
    # Tinyliciousサーバーの起動
    - 'PORT=${TEST_FLUID_PORT} tinylicious > ${CI_PROJECT_DIR}/logs/tinylicious.log 2>&1 &'
    # クライアントの準備
    - 'cd ../client'
    - 'npm ci'
    - 'npx playwright install --with-deps chromium'
    # SvelteKitサーバーの起動
    - 'npm run dev -- --host 0.0.0.0 --port ${VITE_PORT} > ${CI_PROJECT_DIR}/logs/svelte-kit.log 2>&1 &'
    # サーバーの起動待機
    - 'sleep 30'
  script:
    - 'cd ${CI_PROJECT_DIR}/client'
    - 'npm run test:unit'
    # - 'npm run ci:test:e2e:ui'
    - 'npm run ci:test:e2e:xvfb'
  after_script:
    - 'cd ${CI_PROJECT_DIR}'
    - 'cp -r /root/.npm/_logs/ ${CI_PROJECT_DIR}/logs/npm/'
  artifacts:
    when: on_failure
    paths:
      - logs/
      - client/logs/
      - client/test-results/
      - client/playwright-report/
      - server/logs/
      - firebase/firebase-debug.log
      - firebase/firestore-debug.log
    expire_in: 1 week
