test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
client/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Paraglide
src/lib/paraglide

# Tinylicious のデータファイル
tinylicious

playwright-report

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/

# logs
client/e2e/logs/
client/logs/
server/logs/
logs/

firebase/firestore-debug.log
.gitlab-ci-local
