test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
client/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
!.env.example
.env.keys

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Paraglide
src/lib/paraglide

# Tinylicious のデータファイル
tinylicious

playwright-report

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/

# logs
client/e2e/logs/
client/logs/
server/logs/
logs/

# GitLab CI
.gitlab-ci-local

# Python
.venv/
scripts/gen_feature_map.log

# Firebase
.firebase/
firebase/firestore-debug.log
client/firebase-debug.log
functions/.runtimeconfig.json
functions/firebase-debug.log
firestore-debug.log
firebase-debug.log

client/test-output.txt
server/firebase-adminsdk.json
functions/.env.production
*.swp

client/coverage/