repos:
  - repo: local
    hooks:
      - id: remove-feature-docs
        name: Remove feature docs before commit
        language: script
        entry: ./scripts/remove_feature_docs.sh
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pre-commit
        name: Run pre-commit.py
        language: python
        entry: python ./scripts/pre_commit.py
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
        additional_dependencies:
          - loguru
          - PyYAML
      - id: dprint-format
        name: Check formatting with dprint
        language: script
        entry: ./scripts/pre_push.sh
        pass_filenames: false
        always_run: true
        stages: [pre-commit, pre-push]
        verbose: true
