repos:
  - repo: local
    hooks:
      - id: forbid-webserver-in-playwright
        name: Forbid webServer in client/playwright.config.ts
        language: python
        entry: python ./scripts/check_playwright_webserver.py
        pass_filenames: false
        always_run: true
        stages: [commit]
      - id: remove-feature-docs
        name: Remove feature docs before commit
        language: script
        entry: ./scripts/remove_feature_docs.sh
        pass_filenames: false
        always_run: true
        stages: [commit]
      - id: pre-commit
        name: Run pre-commit.py
        language: python
        entry: python ./scripts/pre_commit.py
        pass_filenames: false
        always_run: true
        stages: [commit]
        additional_dependencies:
          - loguru
          - PyYAML
      - id: dprint-format
        name: Check formatting with dprint
        language: script
        entry: ./scripts/check_format.sh
        pass_filenames: false
        always_run: true
        stages: [commit, push]
        verbose: true
