version: '3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace:cached
      - /home/ubuntu/.ssh:/home/node/.ssh:cached
      - /var/run/docker.sock:/var/run/docker.sock:cached
    ports:
      - "7070:7070"
      - "7071:7071"
      - "7072:7072"
      - "7080:7080"
      - "7081:7081"
      - "7082:7082"
    command: sleep infinity
    working_dir: /workspace
    user: node
    networks:
      - firebase-network

  firebase-emulator:
    build:
      context: ../firebase
      dockerfile: Dockerfile
    ports:
      - "4000:4000"  # Firebase Emulator UI
      - "8080:8080"  # Firestore Emulator
      - "9099:9099"  # Auth Emulator
    volumes:
      - ../firebase-data:/firebase-data
    networks:
      - firebase-network
    container_name: firebase-emulator

networks:
  firebase-network:
    driver: bridge